* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background: #333;
    padding: 40px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    float: left;
}

nav {
    float: right;
}

nav a {
    color: white;
}